@model Mvc5Demo.Home.HomeViewModel

@{
  ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />

<div>
  <table class="table">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model => model.name)</th>
        <th>@Html.DisplayNameFor(model => model.email)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@Html.DisplayFor(model => model.name)</td>
        <td>@Html.DisplayFor(model => model.email)</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  @Html.ActionLink("Back to List", "All")
</p>
